<mat-toolbar color="primary">
  Barbecue Nation
  <span class="example-spacer"></span>
  <button mat-flat-button color="primary" class="loginBtn" routerLink="dish-list">Dish</button>
  <button mat-flat-button color="primary" class="loginBtn" routerLink="stock-list">Stock</button>
  <button mat-flat-button color="primary" class="loginBtn" routerLink="ingredient-list">Ingredient</button>
  <button mat-flat-button color="primary" class="loginBtn" routerLink="bill-list">Bill</button>
</mat-toolbar>
